<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="spring-ds.xml"/>

	<bean id="jbpm6Service" class="com.beans.leaveapp.jbpm6.service.JBPM6ServiceImpl">
		<property name="entityManagerFactory" >
			<ref bean="entityManagerFactory"/>
		</property>
		<property name="abstractPlatformTransactionManager" >
			<ref bean="transactionManager"/>
		</property>
		<property name="userGroupCallback" >
			<ref bean="userGroupCallback"/>
		</property>
	</bean>
	
	<bean id="userGroupCallback" class="com.beans.leaveapp.jbpm6.util.RoleBasedUserGroupCallback">
		<property name="roleService" >
			<ref bean="roleService"/>
		</property>
		<property name="usersService" >
			<ref bean="usersService"/>
		</property>
	</bean>
	
	<bean  id="employeeRegistrationService" class="com.beans.leaveapp.employee.service.EmployeeRegistrationServiceImpl"> 
    	<property name="jbpm6Service" >
			<ref bean="jbpm6Service"/>
		</property>
    </bean>
	 	 
	
	
</beans>
