body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
    background-color: #fefdfa; 
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 12px;
    margin: auto;
}

img {
    background: white;
}

button {
    margin: 0.5em;
}


/* To set footer to stick at end of page */
#container {
     min-height: 500px;
}

#footer {
   position: relative;
   bottom: 0; 
   height: 20px;
   width: 100%;
   background: #f06409;
   color: #fff;
   text-align: center;
}

/* Setting for page header */
#header_row{
    padding: 0.5em;
}

/* Setting for menubar color */
.ui-menubar{
    background: #315d72 !important;
}

/* Setting for menu text */
.ui-menuitem-text {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Setting for hovering state on menu item */
a.ui-menuitem-link.ui-corner-all.ui-state-hover {
    background: #f06409 !important;
    border-radius: 5px;
}

/* Setting for submenu background */
.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow {
    background: #315d72;
}

/* Setting for datatable header */
div.ui-datatable-header.ui-widget-header.ui-corner-top {
    color: #315d72;
    background: #fff;
    text-transform: capitalize;
    text-align: left;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 0.5em;
}

/* Setting for all table header */
th {
    background: #f06409 !important;
    color: #fff !important;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: normal;
}

/* Setting for even table row */
tr.ui-widget-content.ui-datatable-even.ui-datatable-selectable {
    background-color: #6e8d9c;
    color: #fff;
    font-size: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Setting for odd table row */
tr.ui-widget-content.ui-datatable-odd.ui-datatable-selectable {
    background-color: #fff;
    color:  #315d72;
    font-size: 12px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Setting for even table row hover state */
tr.ui-widget-content.ui-datatable-even.ui-datatable-selectable.ui-state-hover {
    font-weight: bold;
}

/* Setting for odd table row hover state */
tr.ui-widget-content.ui-datatable-odd.ui-datatable-selectable.ui-state-hover {
    font-weight: bold;
}

/* Setting for even table row highlight state */
tr.ui-widget-content.ui-datatable-even.ui-datatable-selectable.ui-state-highlight {
    font-weight: bold;
}

/* Setting for odd table row highlight state */
tr.ui-widget-content.ui-datatable-odd.ui-datatable-selectable.ui-state-highlight {
    font-weight: bold;
    color: #fff !important;
 }

/* Setting for button */
.ui-button-text {
    font-weight: bold;
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    background-color: #317246;
    border: none;
    text-shadow: none;
}

/* Setting for dialog box */
.ui-dialog {
    background: #fefdfa !important;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
} 

/* Setting for dialog titlebar */
.ui-dialog-titlebar {
    background: #f06409 !important;
    color: #fff !important;
    font-weight: normal;
}

/* Setting for widget header */
tr.ui-widget-header > td {
    background: #315d72 !important;
    color: white !important;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

/* Setting for field label in widget */
tr.ui-widget-content {
    color: #315d72;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

/* Setting selectonemenu field in form */
div.ui-selectonemenu.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix {
    text-transform: capitalize;
    width: 100% !important
}

/* Setting to capitalize list item for selectonemenu */
li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all {
    text-transform: capitalize;
}

/* Setting for hover state for selectonemenu */
li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-hover {
    color: #315d72 !important;
    text-transform: capitalize;
    font-weight: bold;
}

/* Setting for highlight state for selectonemenu */
li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight {
    background: none !important;
    background-color: #315d72 !important;
    text-transform: capitalize;
}

/* Setting for creating space between buttons */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    margin: 2px;
}

/* Setting for error message text */
.ui-messages-error-summary {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-transform: capitalize;
}


/* Previously setting for dialog tab */
/* li.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top  { */
/*     background-color: #fff !important; */
/* } */

/* li.ui-state-default.ui-corner-top > a { */
/*     color: #f06409 !important; */
/* } */

/* li.ui-state-default.ui-corner-top.ui-state-hover { */
/*     background-color: #f06409 !important; */
/* } */

/* li.ui-state-default.ui-corner-top.ui-state-hover > a { */
/*     color: #fff !important; */
/* } */

/* li.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top > a { */
/*     color: #f06409 !important; */
/*     font-weight: bold; */
/* } */