/* Generic pane rules */

body, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { 
	background-color: #fefdfa; 
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    margin: auto;
}

img {
	background: white;
}

#container {
	 min-height: 500px;
}

#footer {
   position: relative;
   bottom: 0; 
   height: 20px;
   width: 100%;
   background: #f06409;
   color: #fff;
   text-align: center;
}

#header_row{
	padding: 0.5em;
}

.ui-menubar{
    background: #315d72 !important;
}

.ui-menuitem-text {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

a.ui-menuitem-link.ui-corner-all.ui-state-hover {
    background: #f06409 !important;
    border-radius: 5px;
}

.ui-widget-content.ui-menu-list.ui-corner-all.ui-helper-clearfix.ui-menu-child.ui-shadow {
	background: #315d72;
}

div.ui-datatable-header.ui-widget-header.ui-corner-top {
	color: #315d72;
	background: #fff;
    text-transform: capitalize;
	text-align: left;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	padding: 0.5em;
}

th {
	background: #f06409 !important;
	color: #fff !important;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-weight: normal;
}

table tr:nth-child(even) {
    background-color: #6e8d9c;
    color: #fff;
}

table tr:nth-child(odd) {
    background-color: #fff;
    color:  #315d72;
}

.ui-button-text {
	font-weight: bold;
	color: #f06409;
}

button {
	margin: 0.5em;
}

.ui-dialog {
	background: #fefdfa !important;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
} 

.ui-dialog-titlebar {
	background: #f06409 !important;
    color: #fff !important;
    font-weight: normal;
}

li.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top  {
	background-color: #fff !important;
}

li.ui-state-default.ui-corner-top > a {
	color: #f06409 !important;
}

li.ui-state-default.ui-corner-top.ui-state-hover {
    background-color: #f06409 !important;
}


li.ui-state-default.ui-corner-top.ui-state-hover > a {
    color: #fff !important;
}

li.ui-state-default.ui-tabs-selected.ui-state-active.ui-corner-top > a {
	color: #f06409 !important;
    font-weight: bold;
}